.container {
  flex: 0.9;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  z-index: 80;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid whitesmoke;
  padding: 15px;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.userInformation {
  padding-left: 15px;
}

.info {
  margin: 0;
}

.headerIcons {
  display: flex;
}

.messagesContainer {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1;
  background-color: #e5ded8;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messagesContainer::-webkit-scrollbar {
  display: none;
}

.scrollDownButton {
  position: fixed;
  background-color: #262d31;
  color: #797c7e;
  right: 8px;
  bottom: 70px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.scrollDownButton.visible {
  transform: scale(1);
  opacity: 1;
}

.scrollDownButton:hover {
  background-color: #262d31;
}

.inputContainer {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.messageInput {
  margin: 12px;
  flex: 1;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 15px;
}
