.container {
  flex: 0.9;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  z-index: 80;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid whitesmoke;
  padding: 15px;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.userInformation {
  padding-left: 15px;
}

.info {
  margin: 0;
}

.headerIcons {
  display: flex;
}

.messagesContainer {
  flex: 1 1;
  background-color: #e5ded8;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messagesContainer::-webkit-scrollbar {
  display: none;
}

.endOfMessage {
}

.inputContainer {
  padding: 5px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: static;
  bottom: 0;
}

.messageInput {
  margin: 12px;
  flex: 1;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 15px;
}
