.message {
  padding: 5px;
  width: fit-content;
  border-radius: 8px;
  max-width: 300px;
  position: relative;
  text-align: right;
  word-wrap: break-word;
}

.sender {
  background-color: #dcf8c6;
  margin-left: auto;
}

.receiver {
  text-align: left;
  background-color: whitesmoke;
}
