.m17pxRight {
  margin-right: 17px;
}

.listItem {
  padding-left: 17px;
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
}

.contactsListItemTextContainer {
  border-bottom: 1px solid #242d32;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
