.infoContainer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  color: #066e66;
}

.infoInputContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.infoInput {
  color: #dfdfe1;
  margin: 10px 0;
  transition: all 0.4s;
  pointer-events: none;
  flex: 1;
}

.infoInput.active {
  pointer-events: initial;
}

.infoIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.25s;
}

.iconVisible {
  opacity: 1;
  width: auto;
  overflow: visible;
}

.infoInput::before {
  border-bottom: 1px solid #252d32;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 3px solid #252d32;
}
