.searchContainer {
  padding: 10px 0;
  border-bottom: 1px solid #252d32;
}

.search {
  display: flex;
  align-items: center;
  background: #242d32;
  margin: 0 20px;
  border-radius: 15px;
  padding: 5px;
  color: #7e8285;
}

.searchIcon {
  margin-right: 25px;
}

.searchInput {
  color: #d4d5d7;
  padding: 5px 0;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}
