.container {
  flex: 0.4;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 80px;
  border-bottom: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}

.userAvatar {
  cursor: pointer;
}

.userAvatar:hover {
  opacity: 0.8;
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
}

.searchInput {
  outline: none;
  border: none;
  outline-width: 0;
  flex: 1;
}

.newChatButton {
  width: 100%;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
